
.text-field {
    -fx-max-width: 300px;
    -fx-min-width: 300px;
    -fx-min-height: 32px;
    -fx-font-size: 12px;
}

.label {
    -fx-font-size: 12px;
}

.error {
    -fx-font-weight: bold;
    -fx-text-fill: red;
}

.button {
    -fx-min-width: 100px;
    -fx-min-height: 32px;
    -fx-font-size: 12px;
}

.photoBtn {
    -fx-max-width: 100px;
    -fx-min-height: 100px;
    -fx-background-color:transparent;
}


.sidenavBtn {
    -fx-min-width: 200px;
    -fx-max-width: 200px;
    -fx-min-height: 50px;
    -fx-background-radius: 0;
    -fx-background-color: #47525d;
    -fx-text-fill: #f8f9fc;
    -fx-alignment: baseline-left;
    -fx-font-weight: bold;
}

.sidenav {
    -fx-background-color: #47525d;
}

.header {
    -fx-background-color: #ffffff;
    -fx-max-height: 50px;
    -fx-min-height: 50px;
    -fx-padding: 10px;
}
.header .label {
    -fx-padding: 0 10, 0 ,10;
    -fx-text-fill: #5a5c69;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.content {
    -fx-padding: 16px;
    -fx-hgap: 16px;
}

.scroll-pane {
    -fx-background-color:transparent;
}

.form {
    -fx-hgap: 16px;
    -fx-vgap: 16px;
}

.save-btn {
    -fx-background-color:transparent;
    -fx-background-image: url(/images/save.png);
    -fx-background-size: 32px 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.back-btn {
    -fx-background-color:transparent;
    -fx-background-image: url(/images/back.png);
    -fx-background-size: 32px 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.upload-btn {
    -fx-background-color:transparent;
    -fx-background-image: url(/images/upload.png);
    -fx-background-size: 32px 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.del-btn {
    -fx-background-color:transparent;
    -fx-background-image: url(/images/del.png);
    -fx-background-size: 32px 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.add-btn {
    -fx-background-color:transparent;
    -fx-background-image: url(/images/add.png);
    -fx-background-size: 32px 32px;
    -fx-min-height: 32px;
    -fx-min-width: 32px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.logout-btn {
    -fx-background-color:transparent;
    -fx-background-image: url(/images/logout.png);
    -fx-background-size: 16px 16px;
    -fx-min-height: 16px;
    -fx-min-width: 16px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.product-cell {
    -fx-padding: 16;
    -fx-border-radius: 10;
      -fx-background-radius: 10;
    -fx-background-color: #47525d;
}
.p-label {
    -fx-text-fill: #f8f9fc;
    -fx-font-weight: bold;
}
